/*styles for my resume*/

/*default style*/
body{font-family: "Open Sans", Arial, sans-serif;
font-size: 1em;
color: #444;
font-weight: 400;
}
/*style of my title*/
#title{weight:600;
text-align: center;
margin: 20px 0 0 0;
text-transform: uppercase;
font-size: 1.5em;
color: #33485e;}

/*style of my name*/
#name{font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid#33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}


/*style of section titles: education,experience,skills */
.sectionheader{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color:#33485e;
  color: white;
  font-weight: 400;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width: 300px;

}
/*style of job titles */
.jobtitle{
  font-weight:600;
  font-size: 1.5em;
}
/*style of places of employment */
.organization{font-weight:400;
  font-size:1.25em;
}
/* style of dates*/
.date{font-weight: 400;
  font-size:1em;
  font-style: italic;
  margin: 2 0 0 0;
}

.description{margin:10px 0 10px 0}
/*style of skills*/
#do{margin: 5px 0 0 0 }

#container{width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}


/*style of degrees*/
#degree{margin: 5px 0 0 0;}

/* style of contact links*/
.menu{
font-size: 1em;
margin: 0px;
padding:0px;
text-align:center;}

.menu li{display: inline;}
