body{font-family: 'Open Sans', sans-serif;

}

.h1{
  font-family: 'Oswald', sans-serif;
}

.h2{
  font-family: 'Open Sans', sans-serif;
}

#main{font-size: 12px;
padding-left: 15%;
padding-right: 15%;

}

#inline{
  display: inline-block;
}

.col{
  display: inline-block;
}
